.neofetch {
	grid-area: neofetch;
	overflow: hidden;
}

@media only screen and (max-width: 1392px) {
	.neofetch {
		display: none;
	}
}

@media only screen and (max-height: 760px) {
	.neofetch {
		display: none;
	}
}

@media only screen and (min-height: 1040px) {
	.neofetch {
		display: none;
	}
}

.colorFieldContainer {
	margin-top: 8px;
}

@media only screen and (max-height: 824px) {
	.colorFieldContainer {
		display: none;
	}
}

.colorFieldRow {
	display: flex;
	flex-direction: row;
}

.colorField {
	width: 24px;
	height: 20px;
}

.neofetchOutput {
	display: flex;
	flex-direction: row;
	gap: 24px;
	align-items: center;
}

@media only screen and (max-width: 605px) {
	.neofetchOutput {
		flex-direction: column;
		align-items: start;
	}
}
