.window {
	box-sizing: border-box;
	width: 100%;
	height: calc(100% - 20px);
	padding: var(--size-gap);
	background-image: url('/images/Background.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	display: grid;
	grid-gap: var(--size-gap);
	grid-template-areas:
		'cli calendar weather powerMenu'
		'cli neofetch neofetch neofetch';
	grid-template-columns: 1fr 288px 288px 64px;
	grid-template-rows: 45fr 55fr;
	overflow: hidden;
}

@media only screen and (max-width: 1392px) {
	.window {
		grid-template-areas:
			'cli calendar'
			'cli weather';
		grid-template-columns: 1fr 288px;
	}
}

@media only screen and (max-width: 1024px), only screen and (max-height: 760px), only screen and (min-height: 1040px) {
	.window {
		grid-template-areas: 'cli';
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}
}
