.weather {
	grid-area: weather;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@media only screen and (max-width: 1024px) {
	.weather {
		display: none;
	}
}

@media only screen and (max-height: 760px) {
	.weather {
		display: none;
	}
}

@media only screen and (min-height: 1040px) {
	.weather {
		display: none;
	}
}
