@design-tokens url('../../../../design-tokens.json') format('style-dictionary3');

.weather {
	grid-area: weather;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@media only screen and (max-width: design-token('layout.maxWidth.step2')) {
	.weather {
		display: none;
	}
}

@media only screen and (max-height: design-token('layout.maxHeight.step2')) {
	.weather {
		display: none;
	}
}

@media only screen and (min-height: design-token('layout.minHeight.step1')) {
	.weather {
		display: none;
	}
}
